[submodule "filer/external/aws-sdk-cpp"]
	path = filer/external/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp.git
[submodule "filer/external/googletest"]
	path = filer/external/googletest
	url = https://github.com/google/googletest.git
